macro_display_math: macro_display_math{
compatible = "zmk,behavior-macro";
label = "macro_display_math";
#binding-cells = <0>;
bindings = <&kp DOLLAR>, <&kp DOLLAR>, <&kp DOLLAR>, <&kp DOLLAR>, <&kp LEFT_ARROW>, <&kp LEFT_ARROW>;
};
macro_macro_begin: macro_macro_begin{
compatible = "zmk,behavior-macro";
label = "macro_macro_begin";
#binding-cells = <0>;
bindings = <&kp BACKSLASH>, <&kp B>, <&kp E>, <&kp G>, <&kp I>, <&kp N>, <&kp LEFT_BRACE>;
};
macro_quotes: macro_quotes{
compatible = "zmk,behavior-macro";
label = "macro_quotes";
#binding-cells = <0>;
bindings = <&kp LEFT_CONTROL>, <&kp TAB>;
};
macro_dquotes: macro_dquotes{
compatible = "zmk,behavior-macro";
label = "macro_dquotes";
#binding-cells = <0>;
bindings = <&kp LEFT_CONTROL>, <&kp LEFT_SHIFT>, <&kp TAB>;
};
macro_braces: macro_braces{
compatible = "zmk,behavior-macro";
label = "macro_braces";
#binding-cells = <0>;
bindings = <&kp RIGHT_PARENTHESIS>;
};
macro_parens: macro_parens{
compatible = "zmk,behavior-macro";
label = "macro_parens";
#binding-cells = <0>;
bindings = <&kp LPAR>;
};
macro_brackets: macro_brackets{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
bindings = <&kp LBKT>;
};
macro_kinesis: macro_kinesis{
compatible = "zmk,behavior-macro";
label = "macro_kinesis";
#binding-cells = <0>;
bindings = <&kp RIGHT_BRACKET>;
};